<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lj.taosstaff"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/staff_app_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:persistent="true">
        <activity
            android:name="com.lj.taosstaff.WelcomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lj.taosstaff.LoginActivity"></activity>
        <activity android:name="com.lj.taosstaff.MainActivity"></activity>
        <activity android:name="com.lj.taosstaff.SettingActivity"></activity>
        <activity android:name="com.lj.taosstaff.DishListActivity"></activity>
        
        <service android:name="com.lj.taosstaff.service.MessageService" 
    	    android:exported="false" 
    	    android:process=":msg">
    	    <intent-filter android:priority="1000"></intent-filter>
    	</service>
    	<service android:name="com.lj.taosstaff.service.BroadcastService" android:process=":br"></service>
    </application>

</manifest>
